@model IEnumerable<Student>

@{
    ViewBag.Title = "Home Page";
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
}

<h1>Home page</h1>
<img src="~/img/barcaLogo.png" alt="barcaLogo" asp-append-version="true"/>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Section</th>
        <th>Branch</th>
        <th>Gender</th>
        <th></th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
            <td>@student.Section</td>
            <td>@student.Branch</td>
            <td>@student.Gender</td>
            <td><a asp-controller="Home" asp-action="Details" asp-route-id="@student.StudentId">View</a></td>
        </tr>
    }
</table>

@section Scripts{
<script src="~/js/custom.js"></script>
}
