@{
    var students = ViewBag.Students;
}

<title>@ViewBag.Title</title>
<h2>@ViewBag.Header</h2>

<table>
    <tr>
        <th>StudentID</th>
        <th>Student Name</th>
        <th>Gender</th>
        <th>Branch</th>
        <th>Section</th>
    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
            <td>@student.Gender</td>
            <td>@student.Branch</td>
            <td>@student.Section</td>
        </tr>
    }
</table>
